{% extends 'layouts/base.html' %}

{% block title %} Abrir archivo {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->    
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-12">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col" id="div_texto">
                  <h5 class="text-light text-uppercase ls-1 mb-1">Contenido del Archivo</h5>
                  <span>Información contenida en el archivo.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">{{ nom_arch }}</h3><br>
                  <table class="table table-striped table-sm table-responsive" id="main_table"> 
                    <thead class="thead-light">
                      <tr style="line-height: 5px">  
                        <th>ID.</th>            
                        {% for fila in columns %}
                          <th scope="col">{{ fila }}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for fila in datos %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          {% for celda in fila %}
                            <td>{{ celda }}</td>
                          {% endfor %}   
                        </tr>
                      {% endfor %}                        
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <!--Import jQuery before export.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!--Data Table-->
  <script type="text/javascript" src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>

  <!--Export table buttons-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

  <!--Export table button CSS-->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

  <script type="text/javascript">
    $('#main_table').DataTable({
      pageLength: 25,
      language: {
        url: "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json",
      },
      lengthMenu: [
          [10, 25, 50, 100, -1],
          [10, 25, 50, 100, 'All'],
      ],
    });


    $(document).ready(function() {
      
    });
  </script>

{% endblock javascripts %}